:root {
    --white: #f6f7eb;
    --deep_purple: 	#570861;
    --black: #393e41;
    --lightblack: #393e41b4;
    --blue: #191970;
    --purple: #7F00FF;

}
body {
    background-color: var(--white);
    color: var(--black);
}
h1 {
    border-radius: 5px;
    padding: 10px;
    background-color: var(--deep_purple);
}
div.card{
    display: inline-block;
    background-color: --purple;
    color: --white;
    width: 20%
}
#currentWeatherCard{
    text-align: center;
    
}
.five-day{
    display: grid;
    text-align: center;
    
}

#previousSearches {
    margin: 10px;
}
.previousSearches {
    margin: 5px 0px;
}
.fiveDayCard {
    margin: 5px;
}